/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans&display=swap');
* {
  margin: 0;
}
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.app {
  height: 100%;
  background-color: #eee;
}
.empty {
  display: block;
  background: url('../assets/images/profile_empty.jpeg')no-repeat 0 0;
  background-size: cover;

}
