/* Login.css */
input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}
.login {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.background img {
  position: absolute;
  width: 110%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
  animation: background-moving 20s linear 0s infinite alternate;
}
@keyframes background-moving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}
.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25vh;
}
.logo > svg {
  color: #eee;
  border: 5px solid #eee;
  border-radius: 50%;
  padding: 25px;
  width: 150px;
  height: 150px;
}
.title {
  position: relative;
  z-index: 5;
  color: #eee;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 50px;
}
.loginContainer {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginContainer .loginBtn {
  position: relative;
  width: 180px;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  text-indent: 15px;
  cursor: pointer;
  box-shadow: 0 0 2px;
  transition: transform 0.2s ease 0s;
}
.loginContainer .loginBtn:hover {
  transform: scale(1.05);
}
.google-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}
.container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > .loginInput {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #f3f3f3;
  background-color: #eee;
  color: #b6b6b6;
  font-size: 12px;
  box-shadow: 0 0 2px;
}
.container > .loginInput:last-of-type:hover {
  border: 1px solid #ee5a24;
  background-color: #ee5a24;
  color: #fff;
  box-shadow: 0 0 1px #ee5a24;
}
.container > .loginInput.loginSubmit {
  margin-top: 40px;
  border: 1px solid #f3f3f3;
  background-color: #f6f6f6;
  color: #b6b6b6;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 1px;
}
.container > .loginError {
  margin-top: 15px;
  color: tomato;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

.loginSwitch {
  position: relative;
  left: 50%;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  transform: translateX(-50%);
}
.loginSwitch:hover {
  color: #ee5a24;
}
