/* MovieModal.css */
.presentation {
  position: absolute;
  z-index: 1200;
  color: #000;
}
.wrapper-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal {
  position: relative;
  top: 50%;
  overflow: hidden;
  overflow-y: scroll !important;
  max-width: 800px;
  max-height: 80%;
  border-radius: 20px;
  background-color: #eee;
  transform: translateY(-50%);
  transform-origin: center -50%;
  animation: fadeIn 0.5s ease 0s;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}
.modal-close {
  float: right;
  padding: 15px 25px 0 0;
  color: #000;
  font-size: 30px;
  z-index: 1000;
  cursor: pointer;
}
.modal-close:hover{
  color: #ee5a24;
}
.modal__poster-img {
  width: 100%;
  height: auto;
}
.modal__content {
  padding: 40px;
}
.modal__details {
  font-size: 18px;
  margin: 15px 0;
}
.modal__user_perc {
  color: #46d369;
  margin-left: 15px;
}
.modal__title {
  margin: 16px 0;
  padding: 0;
  font-size: 40px;
}
.modal__overview {
  margin-top: 10px;
  line-height: 1.5;
}

@media screen and(max-width:768px) {
  .modal__details,
  .modal__overview {
    font-size: 16px;
  }
}
