/* Profile.css */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  min-height: 100vh;
}
.profile__title {
  position: absolute;
  top: 2rem;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.profile__setting {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 25px;
  cursor: pointer;
}
.profile__setting:hover {
  color: #ee5a24;
}
.profile__back {
  position: absolute;
  top: 2rem;
  left: 3rem;
  color: #000;
  font-size: 25px;
  cursor: pointer;
}
.profile__back:hover {
  color: #ee5a24;
}
.profile__logout {
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  cursor: pointer;
}
.profile__logout:hover {
  color: #ee5a24;
  text-decoration: underline;
}

/* img */
.profile__img {
  position: relative;
  width: 250px;
  height: 250px;
}
.profile__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.confirm {
  position: absolute;
  right: -70px;
  bottom: 40px;
  width: 50px;
  height: 20px;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #111;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.confirm:hover {
  background-color: yellowgreen;
}
.cancel {
  position: absolute;
  right: -70px;
  bottom: 5px;
  width: 50px;
  height: 20px;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #111;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.cancel:hover {
  background-color: tomato;
}
.preview {
  position: relative;
  top: 100px;
  left: 10px;
  max-width: 150px;
  border-radius: 15px;
}
.edit {
  position: absolute;
  top: 0;
  right: -30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.edit:hover {
  color: #ee5a24;
}
.profile__img input {
  display: none;
}

/* name */
.profile__name {
  position: relative;
  display: block;
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
}
.profile__name input {
  width: 200px;
  padding: 3px;
  border-bottom: 1px solid #b3b4b4;
  text-align: center;
}
.name-box {
  position: relative;
}
.editName-icon.check {
  position: absolute;
  right: -20px;
  bottom: 20px;
  width: 15px;
  height: 15px;
  color: gray;
  cursor: pointer;
}
.editName-icon.check:hover {
  color: yellowgreen;
}
.editName-icon.xmark {
  position: absolute;
  right: -23px;
  bottom: -2px;
  width: 20px;
  height: 20px;
  color: gray;
  cursor: pointer;
}
.editName-icon.xmark:hover {
  color: red;
}
.editName {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 2px;
  padding-top: 2px;
  cursor: pointer;
}
.editName:hover {
  color: #ee5a24;
}
