/* Row.css */
.row {
  margin-left: 20px;
  color: #000;
}
h2 {
  margin: 0 20px 5px;
}
.slider {
  position: relative;
  padding: 0 0px;
}
.row__poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.row__poster:hover {
  box-sizing: border-box;
  border: 3px solid #EE5A24;
  transform: scale(1.08);
}
.row__posterLarge:hover {
  transform: scale(1.05);
}

/* 1200 ~ 최대 */
@media screen and (min-width: 1200px) {
  .row__posterLarge {
    max-height: 590px;
  }
}
/* 0 ~ 768 */
@media screen and (max-width: 768px) {
  .row__posterLarge {
    max-height: 280px;
  }
}

/* swiper */
.swiper-button-prev {
  color: #fff !important;
}
.swiper-button-next {
  color: #fff !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ee5a24 !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-weight: 600 !important;
  font-size: 1.3rem !important;
}

.swiper-pagination {
  text-align: center !important;
}
.swiper-pagination-bullet {
  background-color: gray !important;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #ee5a24 !important;
}

.swiper {
  padding: 10px 0 35px !important;
}

.swiper-slide {
  margin: 10px;
  height: auto;
}
