/* SearchPage.css */
.search-container {
  width: 100%;
  padding: 5rem 0;
  background-color: #eee;
  text-align: center;
}
.movie {
  display: inline-block;
  padding: 1em;
}
.movie__column-poster {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease 0s;
}
.movie__column-poster:hover {
  transform: scale(1.05);
}
.movie__poster {
  margin-top: 25px;
  width: 90%;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8rem;
  color: #000;
}
.poster__detail {
  position: absolute;
  width: 100%;
  bottom: -50px;
  color: #000;
  text-align: center;
}
.poster__detail-date {
}
